/* Small devices */

@media (max-width: 800px) {
    .inner-nav {
        clear: both;
        padding: 0;
    }
    
    .inner-nav ul {
        padding-bottom: 1em;
    }
    
    .inner-nav ul li {
        display: block;
        margin-left: 0;
        text-align: center;
    }
    
    .inner-nav ul li a {
        display: block;
        padding: 0.5em 0;
    }
    
    .js .nav-toggle {
        display: block;
        width: 2em;
        margin: 0.6667em 0;
        font-size: $body-text + 0.5;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
    }
    
    .js .nav-toggle>* {
        vertical-align: middle;
    }
    
    .content {
        width: 100%;   
    }
    
    .main {
        width: 100%;
    }
    
    .title {
        padding-left: 0;
        
        h1 {
            font-size: $header-4;
        } 
        
        p {
            padding-left: 1rem;
            font-size: 1.4rem;
        }
    }
    
    .nav { 
        ul {
            padding: 0;
            margin: 0;
        }
    }
    
    .flash-region {
        width: 100%;
    }
    
    .social {
        font-size: $icon-size - 1.5;
    }
    
    .footer-text {
        p {
            font-size: $body-text - 0.5;
        } 
    }
    
    .logo {
        a {
            flex-grow: 1;
        }
        
        .title {
            flex-grow: 4;
        }
    }
    
    .footer-container {
        width: 100%;
    }

    .sidebar {
        display: none;
    }

}
