$primary-color: #122929;
$dark-background: #101f1f;
$dark-background-close: #263a3a;
$dark-background-closer: #3f5555;
$nav-color: rgb(226, 226, 226);
$text-color: $nav-color;
$selected-nav-color: #c0a457;
$link-color: #ccb742;
$social-hover: $selected-nav-color;
$hover-link-color: rgb(192, 199, 101);
$form-color: $dark-background-closer;
$form-color-close: lighten($dark-background-closer, 30%);

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap');

@import 'base';
@import 'report';
@import 'kmom';
@import 'mobile';


h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
td,
dl {
    color: $nav-color;
}

a:hover {
    color: $hover-link-color;
}

.sidebar ul {
    background-color: $dark-background-closer;
    border-color: $dark-background;
}

code {
    color: $text-color;
    background-color: $dark-background-closer;
    border-color: $dark-background-closer;
}

td {
    color: $text-color;
    background-color: $dark-background-closer, 50%;
    border-color: $text-color;
}


pre {
    background-color: $dark-background-closer;
    border-color: $text-color;
}

th {
    background-color: lighten($dark-background-closer, 30%);
    border-color: $dark-background-closer;
}

body {
    background-color: $dark-background;
    
}

.main {
    background-color: $dark-background-close;
}

.kmom-card {
    background-color: $dark-background-closer;
}

.kmom-card i {
    color: $nav-color;
}

img {
    filter: brightness(75%);
}
