$primary-color: #445a52 !default;
$nav-color: #fff !default;
$text-color: #444 !default;
$selected-nav-color: #ecd136 !default;

// TYPOGRAPHY
$header-1: 3.052rem !default;
$header-2: 2.441rem !default;
$header-3: 1.953rem !default;
$header-4: 1.6rem !default;
$header-5: 1.6rem !default;
$header-6: 1.6rem !default;
$icon-size: 5rem !default;

$body-text: 1.7rem !default;
