$primary-color: #385740 !default;
$nav-color: #fff !default;
$text-color: #444 !default;
$selected-nav-color: #e7d674 !default;
$link-color: #118044 !default;
$hover-link-color: rgb(2, 53, 17) !default;
$social-color: #ddd !default;
$social-hover: #fff !default;
$form-color: rgb(250, 250, 250) !default;
$form-color-close: #fff !default;
$black: #000 !default;

// TYPOGRAPHY
$header-1: 3.052rem !default;
$header-2: 2.441rem !default;
$header-3: 1.953rem !default;
$header-4: 1.6rem !default;
$header-5: 1.6rem !default;
$header-6: 1.6rem !default;
$icon-size: 5rem !default;

$body-text: 1.7rem !default;
